/* Basic styling for the navbar */
.navbar {
  width: 100%;
  height: 100px;
  background-color: var(--bs-gray-100);
  font-size: 20px;
}

.navbar.fixed-top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.navbar-toggler:focus,
.offcanvas-header .btn-close:focus {
  box-shadow: none;
}

.btn-close:hover {
  transform: rotate(360deg);
  transition: all 1s;
}

.nav-link {
  position: relative;
}

.nav-link.active {
  color: #005cbb !important;
  font-weight: bold;
}

.nav-link::before {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0%;
  transform: translate(-50%, 0);
  height: 3px;
  background-color: #005cbb;
  visibility: hidden;
  transition: all 0.8s;
}

.nav-link.active::before {
  width: 100%;
  visibility: visible;
}

.nav-link:hover {
  color: #005cbb;
}

.nav-link:hover::before {
  width: 100%;
  visibility: visible;
}

.navbar-brand img {
  height: 50px;
}

.navbar-nav .mat-icon {
  position: relative;
  z-index: 2;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.mat-icon {
  width: 40px !important;
  height: 40px !important;
  transition: background 0.8s;

}

.material-icons {
  font-size: 30px !important;
}

.navbar-nav .mat-icon:hover {
  background: #005dbb36;
}

a:hover {
  text-decoration: none;
}

@media (max-width: 767px) {
  .offcanvas {
    background-color: #000000ab !important;
    color: white !important;
  }

  .offcanvas .nav-link {
    color: white;
  }

  .navbar-brand img {
    height: 50px;
  }
}

@media (max-width: 840px) {
  .navbar-brand img {
    height: 40px;
  }

  .navbar-nav .nav-item:nth-child(2) .nav-link {
    margin: 0 8px !important;
  }

  .navbar-nav .nav-item:nth-child(4) .nav-link {
    margin-left: 8px !important;
  }
}

@media (max-width: 410px) {
  .navbar-brand img {
    height: 30px;
  }

  .mat-icon {
    width: 30px !important;
    height: 30px !important;
    transition: background 0.8s;

  }

  .material-icons {
    font-size: 25px !important;
  }


}
