<footer>
  <div class="cont">

    <div class="row py-4 imgCont">
      <img src="assets/images/logos/logo.png" alt="">
    </div>
    <hr class="hr">

    <div class="row">
      <div class="col-sm-6 col-lg-4 mt-3">
        <h3>About us</h3>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad blanditiis culpa alias minima
          accusantium
          aspernatur a ratione iusto modi reprehenderit.</p>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, iste.</p>
      </div>

      <div class="col-sm-6 col-lg-2 mt-3">
        <h3>Account</h3>

        <ul class="list-group">
          <li class="list-group-item text-muted"><a>My Account</a></li>
          <li class="list-group-item text-muted"><a>My Wishlist</a></li>
          <li class="list-group-item text-muted"><a>My Cart</a></li>
          <li class="list-group-item text-muted"><a>Sign in</a></li>
          <li class="list-group-item text-muted"><a>Check Out</a></li>
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3 mt-3">
        <h3>Top Categories</h3>

        <ul class="list-group">
          <li class="list-group-item text-muted"><a>Watches</a></li>
          <li class="list-group-item text-muted"><a>Jacket</a></li>
          <li class="list-group-item text-muted"><a>Winter Collection</a></li>
          <li class="list-group-item text-muted"><a>Summer Collection</a></li>
          <li class="list-group-item text-muted"><a>Sneakers</a></li>
        </ul>

      </div>
      <div class="col-sm-6 col-lg-3 mt-3">
        <h3>Contact Us</h3>

        <ul class="list-group">
          <li class="list-group-item"><mat-icon class="me-2">phone_in_talk</mat-icon>
            <a href="tel:+9779809161011">(+977) 9809161011</a>
          </li>
          <li class="list-group-item"><mat-icon class="me-2">mail</mat-icon>
            <a href="mailto:amardeep10as@gmail.com">amardeep10as&#64;gmail.com</a>
          </li>
          <li class="list-group-item"><mat-icon class="mat-18">location_on</mat-icon> JanakpurDham, Nepal
          </li>
        </ul>

        <h3 class="mt-2">Follow</h3>
        <ul class="list-group list-group-horizontal socialIcons">
          <li class="list-group-item">
            <i class="fa fa-brands fa-facebook"></i>
          </li>

          <li class="list-group-item">
            <i class="fa fa-brands fa-instagram"></i>
          </li>

          <li class="list-group-item">
            <i class="fa fa-brands fa-whatsapp"></i>
          </li>

          <li class="list-group-item">
            <i class="fa fa-brands fa-youtube"></i>
          </li>

        </ul>
      </div>

    </div>

    <hr>
    <div class="text-center pb-4 mt-4 h5">
      Copyright &copy; 2024 | Alpha Clothing.
    </div>
  </div>
</footer>
