<footer>
  <div class="cont">

    <div class="row py-4 imgCont">
      <img src="assets/images/logos/logo.png" alt="">
    </div>
    <hr class="hr">

    <div class="row">
      <div class="col-sm-6 col-lg-4 mt-3">
        <h3>About us</h3>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad blanditiis culpa alias minima accusantium
          aspernatur a ratione iusto modi reprehenderit.</p>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et, iste.</p>
      </div>

      <div class="col-sm-6 col-lg-2 mt-3">
        <h3>Account</h3>

        <ul class="list-group">
          <li class="list-group-item text-muted">My Account</li>
          <li class="list-group-item text-muted">My Wishlist</li>
          <li class="list-group-item text-muted">My Cart</li>
          <li class="list-group-item text-muted">Sign in</li>
          <li class="list-group-item text-muted">Check Out</li>
        </ul>
      </div>

      <div class="col-sm-6 col-lg-3 mt-3">
        <h3>Top Categories</h3>

        <ul class="list-group">
          <li class="list-group-item text-muted">Watches</li>
          <li class="list-group-item text-muted">Jacket</li>
          <li class="list-group-item text-muted">Winter Collection</li>
          <li class="list-group-item text-muted">Summer Collection</li>
          <li class="list-group-item text-muted">Sneakers</li>
        </ul>

      </div>
      <div class="col-sm-6 col-lg-3 mt-3">
        <h3>Contact Us</h3>

        <ul class="list-group">
          <li class="list-group-item text-muted"><i class="fa-solid fa-phone-volume"></i> (+977) 9809161011</li>
          <li class="list-group-item text-muted"><i class="fa-regular fa-envelope"></i> amardeep10as&#64;gmail.com</li>
          <li class="list-group-item text-muted"><i class="fa-solid fa-location-dot"></i> JanakpurDham, Nepal</li>
        </ul>

        <h3 class="mt-2">Follow</h3>
        <ul class="list-group list-group-horizontal socialIcons">
          <li class="list-group-item">
            <i class="fa fa-brands fa-facebook"></i>
          </li>

          <li class="list-group-item">
            <i class="fa fa-brands fa-instagram"></i>
          </li>

          <li class="list-group-item">
            <i class="fa fa-brands fa-whatsapp"></i>
          </li>

          <li class="list-group-item">
            <i class="fa fa-brands fa-youtube"></i>
          </li>

        </ul>
      </div>

    </div>

    <hr>
    <div class="text-center my-4 h5">
      Copyright &copy; 2024 | Alpha Clothing.
    </div>
  </div>
</footer>
