<mat-card class="card">
    <h2 class="text-center">Forget Password</h2>
    <mat-card-content>
        <form>
            <mat-form-field appearance="outline" class="mt-3" *ngIf="!codeVerify">
                <mat-label>Email</mat-label>
                <input matInput required [(ngModel)]="email" type="email" name="email" [disabled]="emailDisabled">
                <button mat-flat-button matSuffix class="m-2" (click)="sendMail()" *ngIf="email">
                    <mat-spinner *ngIf="isLoading" diameter="20" mode="indeterminate"></mat-spinner>
                    <span *ngIf="!isLoading">{{otpReceived ? 'Resend': 'Send'}}</span>
                </button>
            </mat-form-field>

            <div *ngIf="otpReceived && newPassword == null" class="mt-3">
                <h6>Enter Verification Code.</h6>
                <mat-form-field appearance="outline">
                    <mat-label>Code</mat-label>
                    <input matInput required name="code" [(ngModel)]="code">

                    <button mat-flat-button matSuffix class="m-2" (click)="verifyCode()" *ngIf="code">
                        <mat-spinner *ngIf="isLoading" diameter="20" mode="indeterminate"></mat-spinner>
                        <span *ngIf="!isLoading">Verify</span>
                    </button>
                </mat-form-field>
            </div>
            <div *ngIf="newPassword != null" class="mt-3">
                <mat-form-field appearance="outline">
                    <mat-label>new Password</mat-label>
                    <input matInput required name="password" [(ngModel)]="newPassword">

                </mat-form-field>
            </div>


            <button mat-flat-button color="primary" class="mt-3" type="submit" (click)="changePassword()"
                [disabled]="!newPassword">Change Password</button>
        </form>

        <div class="line-container mt-3">
            <span class="line-text">OR</span>
        </div>

        <div class="my-3 text-center">
            <button mat-flat-button class="w-100" [routerLink]="['/login']">Login </button>
        </div>

        <div class="my-3 text-center">
            <button mat-flat-button class="w-100" [routerLink]="['/register']">Create a new Account</button>
        </div>
    </mat-card-content>
</mat-card>