#homeCont #hero {
  height: calc(100vh - 100px);
  background-color: var(--bs-gray-300);
  background-image: url(../../assets/images/clothes/hero.png);
  background-position: 50vw 0px;
  background-repeat: no-repeat;
  background-size: 50%;
}

#homeCont #hero .content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
}

#homeCont #hero .content h1 {
  font-size: 90px;
  font-weight: bold;
}

.list-group-horizontal {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#homeCont #hero .list-group-item {
  background: none;
  border: none;
}

.image-container {
  width: 100%;
  height: 280px;
  overflow: hidden;
  position: relative;
}

.card {
  cursor: pointer;
}

.card img {
  transition: transform .8s ease
}

.card:hover img {
  transform: scale(1.2);
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}


.old-price {
  text-decoration: line-through;
  color: #888;
  margin-left: 10px;
}

.new-price {
  font-weight: bold;
}


@media (max-width: 1016px) {
  #homeCont #hero .content h1 {
    font-size: 70px;
  }

  #homeCont #hero {
    background-size: 65%;
  }
}

@media (max-width: 950px) {
  #homeCont #hero .content h1 {
    font-size: 60px;
  }
}

@media (max-width: 780px) {
  #homeCont #hero .content h1 {
    font-size: 50px;
    text-align: center;
  }

  #homeCont #hero {
    background-size: cover;
    background-position: center top;
  }

  #homeCont #hero .content {
    margin: auto;
    width: 80%;
    align-items: center;
  }

}

@media (min-width: 1540px) {
  #homeCont #hero {
    height: 60vh;
    background-size: contain;
  }
}