<div id="homeCont">
  <div id="hero">
    <div class="cont">
      <div class="content">
        <h1>Brand New Collection</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa eum doloribus et at modi officia molestias
          minima provident. Enim, eveniet?</p>

        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><i class="fa fa-circle-check me-2"></i> <span>Top Brands</span></li>
          <li class="list-group-item"><i class="fa fa-circle-check me-2"></i> <span>High Quality</span></li>
          <li class="list-group-item"><i class="fa fa-circle-check me-2"></i> <span>Free Delivery</span></li>
        </ul>
        <button class="btn btn-danger mt-3">Shop Now</button>
      </div>
    </div>
  </div>



  <section id="second" class="bg-dark text-white">
    <div class="cont row">
      <div class="col-sm-6 col-lg-3 my-5 text-center">
        <i class="fa-regular fa-credit-card display-5 pb-2"></i>
        <h4>Secure Payment</h4>
        <p class="p-0">100% Secure Payment</p>
      </div>
      <div class="col-sm-6 col-lg-3 my-5 text-center">
        <i class="fa-solid fa-money-bill-transfer display-5 pb-2"></i>
        <h4>30 Days Return</h4>
        <p class="p-0">If goods have problems</p>
      </div>
      <div class="col-sm-6 col-lg-3 my-5 text-center">
        <i class="fa-solid fa-headset display-5 pb-2"></i>
        <h4>24/7 Support</h4>
        <p class="p-0">Dediacted Support</p>
      </div>
      <div class="col-sm-6 col-lg-3 my-5 text-center">
        <i class="fa-solid fa-hand-holding-dollar display-5 pb-2"></i>
        <h4>Free Delivery</h4>
        <p class="p-0">For all order over 80$</p>
      </div>
    </div>
  </section>

  <div class="cont my-5">
    <p class="text-secondary">Check out latest Products</p>
    <h2>New Arrivals</h2>

    <div class="row">
      <div class="col-sm-6 col-lg-3 my-2 text-center" *ngFor="let product of products">
        <div class="card me-2" >
          <div class="image-container">
            <img [src]="product.image" class="card-img-top" alt="Product image">
          </div>
          <div class="card-body text-start">
            <h4>{{product.title}}</h4>
            <p class="price mb-2">
              <ng-container *ngIf="product.oldPrice > 0; else noOldPrice">
                <span class="new-price">{{ product.newPrice | currency:'INR' }}</span>
                <span class="old-price">{{ product.oldPrice | currency:'INR' }}</span>
              </ng-container>
              <ng-template #noOldPrice>
                <span class="new-price">{{ product.newPrice | currency:'INR' }}</span>
              </ng-template>
            </p>
            <div class="text-warning mb-2">
              <ng-container *ngFor="let star of getStars(product.rating)">
                  <i [ngClass]="star"></i>
              </ng-container>
              <span class="text-dark ms-2">({{product.totalUserRated | number}} reviews)</span>
          </div>
            <p class="mb-1">{{product.category}}</p>
            <button class="btn btn-primary"><i class="fa-solid fa-cart-arrow-down me-2"></i> Add to cart</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
